* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.clearfix {
  content: "";
  clear: both;
}

header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
}

header .container {
  width: 75%;
  margin: 0 auto;
  padding: 20px 0;
  border-bottom: 1px solid black;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

header .menu {
  font-size: 15px;
}

header .menu span {
  margin: 0 20px;
  display: inline;
  color: #58402c;
}

header .menu span:hover {
  cursor: pointer;
}

header .menu span i {
  position: relative;
  bottom: 2px;
}

header .menu button {
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  border-radius: 8px;
  border: 1px solid #30488F;
  background-color: white;
  margin-left: 30px;
  color: #30488F;
  font-weight: bold;
}

header .menu button:hover {
  background-color: #30488F;
  color: white;
  cursor: pointer;
}

header .menu button:hover img {
  color: white;
}

.g,
.buttons .s {
  width: 15px;
  position: relative;
  top: 2px;
  margin-right: 5px;
}

/*MAIN*/

.jumbo {
  height: calc(100vh - 76px);
  width: 75%;
  margin: 0 auto;
  padding-top: 156px;
  margin-bottom: 76px;
}

.s-jumbo {
  height: 100%;
  float: left;
  width: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.s-jumbo h1 {
  font-size: 54px;
  line-height: 1.4;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 1.4;
  color: #58402c;
}

.s-jumbo h5 {
  font-size: 20px;
  line-height: 2;
  font-weight: 300;
  margin-bottom: 40px;
  color: #58402c;
}

.d-jumbo {
  width: 50%;
  height: 100%;
  float: left;
}

.d-jumbo img {
  width: 100%;
}

.buttons .in-google,
.buttons .in-slack {
  height: 35px;
  line-height: 35px;
  padding: 0 20px;
  border-radius: 8px;
  background-color: #30488f;
  color: white;
  border: none;
}

.buttons .in-google:hover,
.buttons .in-slack:hover {
  background-color: #233569;
}

.buttons .s {
  width: 20px;
  top: 5px;
}

.buttons span {
  height: 35px;
  width: 38px;
  line-height: 35px;
  font-size: 0.8125rem;
  color: #bdb5af;
  text-align: center;
  margin: 0 20px;
}

.address {
  margin-top: 20px;
  text-decoration: none;
  color: #58402c;
  font-size: 0.875rem;
}

.address:hover {
  color: #30488f;
}

.traditional,
.traditional2 {
  width: 100%;
  background: #ffe7d2;
}

.traditional .trad-cont,
.traditional2 .trad-cont {
  width: 75%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 100px;
  border-bottom: 0.5px solid black;
}

.traditional .trad-cont .title,
.traditional2 .trad-cont .title {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.traditional .here,
.traditional2 .here {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.traditional .here h2,
.traditional2 .here h2 {
  margin-top: 100px;
  letter-spacing: 1px;
}

.sez-trad {
  margin: 0 auto;
  width: 70%;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: baseline;
          align-items: baseline;
}

.sez-trad .trad1 img,
.sez-trad .trad3 img,
.sez-trad .trad2 img {
  width: 104px;
}

.sez-trad .trad1,
.sez-trad .trad3,
.sez-trad .trad2 {
  width: 185.86px;
  height: 150px;
  float: left;
  margin-top: 50px;
  width: 200px;
  padding: 0 10px;
  margin: 0 40px;
  margin-top: 100px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.sez-trad .trad1 span,
.sez-trad .trad3 span,
.sez-trad .trad2 span {
  margin-top: 10px;
  text-align: center;
}

.sez-trad .trad3 img {
  height: 105px;
}

.coniglio {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.traditional2 .trad3 img {
  width: 60px;
  height: 105px;
}

