.traditional{
    width: 100%;
    background: #ffe7d2;


    .trad-cont{
        width: $width_containers;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 100px;
        border-bottom: 0.5px solid black;
        .title{
            width: 50%;
            text-align: center;
            margin: 0 auto;
        }

    }
.here{
    display: flex;
    justify-content: center;
    h2{
        margin-top:100px;
        letter-spacing: 1px;
    }
}

}

.sez-trad{
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;


    .trad1 img{
        width: 104px;

    }
    .trad1{
        width: 185.86px;
        height: 150px;
        float: left;
        margin-top: 50px;
        width: 200px;
        padding: 0 10px;
        margin: 0 40px;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;


        span{
            // display: block;
            margin-top: 10px;

            text-align: center;
        }

    }

    .trad2{
        @extend .trad1;
    }

    .trad3{
        @extend .trad1;

        img{
            height: 105px;
        }
    }

}

.coniglio{
    display: flex;
    justify-content: center;
    margin-top: 100px;

}

.traditional2{
    @extend .traditional;
    .trad3{
        img{
            width:60px;
            height: 105px;
        }

    }
}
